.button {
	color: #ffffff;
	line-height: 1.4rem;
	align-items: center;
	font-weight: 500;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	min-width: min-content;
	cursor: pointer;
	padding: 0.75rem 4rem;
	height: 2rem;
	font-size: 18px;
	background-color: #05091e;
	border: 1px solid #05091e;
	transition: 0.3s;
}

.button:hover {
	background-color: var(--c-gray);
	border: 1px solid var(--c-gray);
}
