.button {
	color: #ffffff;
	font-family: var(--corpsite-font-header-s-h2-font-family);
	line-height: 1.4rem;
	align-items: center;
	font-weight: 500;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	min-width: min-content;
	cursor: pointer;
	padding: 0.75rem 4rem;
	height: 3rem;
	font-size: 18px;
	background-color: #3782ff;
	border: 1px solid #7aabff;
}
