---
import MainHead from '@components/MainHead.astro';
import Header from '@components/Header/Header';
import Footer from '@components/Footer/Footer';
---

<html lang="en">
	<head>
		<MainHead title="About | Adonay Rodriguez" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}
			.heroImg img {
				width: 100%;
			}
			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Header client:only="solid-js" />
		<div class="wrapper">
			<h1>About Adonay</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					I am a passionate software developer with a special interest in
					frontend, I am a curious person and always willing to learn new
					things.
				</p>
				<p>
					I come from Venezuela and this reflects my interest in technology and
					my decision to live in Spain for the last five years.
				</p>
				<p>
					Living in a country like Spain, one of the leaders in technology in
					Europe, has allowed me to develop my skills in an international
					environment and to keep up to date with the latest trends and advances
					in the field of software development. Also, I can tell you a bit about
					my hobbies that allow me to relax and enjoy my free time in a
					different way.
				</p>
				<p>
					Working out at the gym gives me a physical and mental change that
					helps me to stay fit and disconnect from work.
				</p>
				<p>
					Playing video games allows me to enjoy stories created by developers
					and share them with other users.
				</p>
				<p>
					Enjoying powerful cars allows me to feel the thrill of speed and
					power.
				</p>
				<p>
					In short, I am a passionate person always looking for new challenges
					and opportunities in the world of software development, and my hobbies
					allow me to relax and enjoy your free time in a different way.
				</p>
				<p>
					If you need to contact me here are a couple of ways to do it:
					<ul>
						<li>
							<a
								class="link"
								href="https://www.linkedin.com/in/adonay-rodriguez-0243a0175/"
								>LinkedIn</a
							>
						</li>
						<li>
							<a class="link" href="https://github.com/adonay1991">Github</a>
						</li>
						<li>
							<a class="link" href="mailto:adonaydaniel16@gmail.com">Email</a>
						</li>
					</ul>
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
