---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav/Navbar';
import Footer from '../components/Footer/Footer';
---

<!DOCTYPE html>
<html lang="en">
	<MainHead
		title="Blog page"
		description="A page to display all our blog posts"
	/>
	<body class="container">
		<Nav />
		<div class="wrapper">
			<h1 class="title mt4 mb4">All Post</h1>
			<main class="blog-grid">
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
