---
import MainHead from '@components/MainHead.astro';
import Footer from '@components/Footer/Footer';
import Header from '@components/Header/Header';
import Button from '@components/Button/Button';

export interface Props {
	title: string;
	description: string;
	date: string;
	img: string;
	author: string;
	type: string;
}

const {
	frontmatter: { title, description, date, img, author, type },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<MainHead title={title} description={description} />
		<style>
			.layout-button {
				display: flex;
				justify-content: center;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<Header client:only="solid-js" />
		<div class="wrapper">
			<div class="heroImg">
				<img width="1400" height="350" src={img} />
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<h1 class="title">{title}</h1>
				<div class="content"><slot /></div>
			</div>
			<div class="tac mt6">
				<a
					href={`${type === 'post' ? '/blog' : '/projects'}`}
					class="layout-button"
				>
					<Button>View More</Button>
				</a>
			</div>
		</div>
		<Footer />
	</body>
</html>
